
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-0"></div>
<mat-card class = "tp-card col-md-5" style="text-align: center;">
    <mat-card-header>
       <mat-card-title>Cảnh Báo Cửa</mat-card-title>
       <mat-slide-toggle
          [checked]="checked"
          (change)="changed()">
        {{slidename}}
      </mat-slide-toggle>
    </mat-card-header>
    <mat-card-content *ngIf="checked">
        <div class="alert alert-danger" role="alert">
            Cảnh báo!!! Cửa mở!!!
        </div>
    </mat-card-content>
</mat-card>
</div> 