<div class="row">
    <!-- Modal control Watering -->
    <div class="modal fade" id="wateringModal" tabindex="-1" role="dialog" aria-labelledby="wateringModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="wateringModalLabel">Control Watering</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <mat-card class="tp-card col-md-12">
                        <mat-card-header>
                            <mat-card-title><h2>Tưới Cây</h2></mat-card-title>
                            <mat-slide-toggle [checked]="checked" (change)="changed()">
                                {{slidename}}
                            </mat-slide-toggle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Điều Khiển</mat-card-title>
                                    <mat-card-content>
                                        <mat-slide-toggle [checked]="checkedWaterTree" (change)="changedWaterTree()">
                                            {{slidenameWT}}
                                        </mat-slide-toggle>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Độ Ẩm Đất</mat-card-title>
                                </mat-card>
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Nước</mat-card-title>
                                    <mat-card-content>
                                        <div class="alert alert-danger" role="alert" *ngIf="waterlevel <= 20">
                                            Nước sắp cạn!!!
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                [ngStyle]="{'width': waterlevel + '%'}">{{waterlevel}}%
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="col-md-6 card-item">
                                    <mat-card-title>
                                        Hẹn Giờ
                                        <button mat-mini-fab
                                            aria-label="Example icon button with a plus one icon" style="float: right;"
                                            (click)="addTime()">
                                            <mat-icon>plus_one</mat-icon>
                                        </button>
                                    </mat-card-title>
                                    <mat-card-content id="datetime-item">

                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="col-md-6 card-item">
                                    <mat-card-title>Chọn Chế Độ Tưới</mat-card-title>
                                    <mat-card-content>
                                        <mat-radio-group>
                                            <mat-radio-button value="m" checked>Phun Sương</mat-radio-button><br>
                                            <mat-radio-button value="f">Nhỏ Giọt</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setSTT('watering')">Apply</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Control drying -->
    <div class="modal fade" id="dryingModal" tabindex="-1" role="dialog" aria-labelledby="dryingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="dryingModalLabel">Control Drying</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <mat-card class="tp-card col-md-12">
                        <mat-card-header>
                            <mat-card-title>Phơi đồ</mat-card-title>
                            <mat-slide-toggle [checked]="checked" (change)="changed()">
                                {{slidename}}
                            </mat-slide-toggle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Điều Khiển</mat-card-title>
                                    <mat-card-content>
                                        <mat-slide-toggle [checked]="checkedWaterTree" (change)="changedWaterTree()">
                                            {{slidenameWT}}
                                        </mat-slide-toggle>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Thời tiết</mat-card-title>
                                </mat-card>
                                <mat-card class="col-md-4 card-item">
                                    <mat-card-title>Trạng thái</mat-card-title>
                                    <mat-card-content>
                                        <div class="alert alert-danger" role="alert">
                                            Đang chạy!!!
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="col-md-6 card-item">
                                    <mat-card-title>
                                        Hẹn Giờ
                                        <button mat-mini-fab color="accent"
                                            aria-label="Example icon button with a plus one icon" style="float: right;"
                                            (click)="addTime()">
                                            <mat-icon>plus_one</mat-icon>
                                        </button>
                                    </mat-card-title>
                                    <mat-card-content id="datetime-item">

                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setSTT('drying')">Apply</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add device -->
    <div class="modal fade" id="adddevice" tabindex="-1" role="dialog" aria-labelledby="adddeviceLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="adddeviceLabel">Add Device</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formAddDevice" (ngSubmit)="AddDevice()">
                        <label>
                            Device's Name:
                            <input type="text" formControlName="name">
                        </label>
                        <br>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Loop Show Watering Device -->
    <div class="col-5">
        <div class="row">
            <div class="col-1"></div>
            <h2 class="col-5">Watering</h2>
            <div class="col-4"></div>
            <Button id="addRoom" data-toggle="modal" data-target="#adddevice"
                class="btn btn-primary btnAdd col-2" (click)="DeviceCate='watering'">Add</Button>
        </div>
        <ul class="row" id="ul-room">
            <li class="col-12" *ngFor="let item of watering_devices">
                <div class="row" data-toggle="modal" data-target="#wateringModal" (click)="ChangeID(item.ID)">
                    <div class="col-11">
                        <div>
                            <h2>{{item.name}}</h2>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-2"></div>
    <!-- Loop Show Drying Device -->
    <div class="col-5">
        <div class="row">
            <div class="col-1"></div>
            <h2 class="col-5">Drying</h2>
            <div class="col-4"></div>
            <Button id="addRoom" data-toggle="modal" data-target="#adddevice"
                class="btn btn-primary btnAdd col-2" (click)="DeviceCate='drying'">Add</Button>
        </div>
        <ul class="row" id="ul-room">
            <li class="col-12" *ngFor="let item of drying_devices">
                <div class="row" data-toggle="modal" data-target="#dryingModal" (click)="ChangeID(item.ID)">
                    <div class="col-11">
                        <div>
                            <h2>{{item.name}}</h2>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>